@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client

<h2>@Html.DisplayFor(model => model.Name) Details: </h2>
<p>Phone Number: @Html.DisplayFor(model => model.Phone)</p>

<p>@Html.ActionLink("Add New Client", "Create", "Client")</p>
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>