@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Edit Stylist |  @Html.DisplayFor(model => model.Name)</h1>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId) 

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name) 

  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone) 
<hr />
  <input type="submit" value="SAVE" />
}
<p>@Html.ActionLink("Back to Stylists", "Index")</p>